/* BOTONES */
button {
  text-align: center;
  background-color: #f6a800;
  color: white;
  font-size: 10px;
}

/* LOGIN */
#logInPage{
  background-color: #3e3f41;
  width: 100%;
}

#logo {
  margin: 20%;
  width: 60%;
  height: auto;
  align-self: center;
}

#login{
  width: 90%;
  margin: 5%;
  padding:5%;
}

/*REGISTER*/
#registerPage{
  background-color: #3e3f41;
  width: 100%;
  height: 100vh;
}

#register{
  width: 90%;
  margin: 5%;
  padding:5%;
}

.formRegister{
  margin-top: 60%;
}

.registerlabel{
  color: #f6a800;
}

/*HOME*/
.btnHome{
  margin-left : 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  width: 90%;
  height: auto;
}

#homePage{
  background-color: #dddee0;
  height: 100vh;
  padding-top: 15%;
}

/*PERFIL*/
#porfilePage{
  background-color: #dddee0;
  height: 100vh;
}

#porfilePhoto{
  background-color: #f6a800;
  height: 40vh;
}

#porfileEmail{
  margin-top: 15%;
  margin-bottom: 5%;
}

#cardNumberInput{
  margin-bottom: 3%;
  width: 100%;
}

/* CALCULAR TARIFA*/
#calculatorPage{
  background-color: #dddee0;
  height: 100vh;
}
.calculatorItems{
  padding-top: 10%;
}
.selectCalculate{
  width: 100%;
}
#btnCalculate{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left : 25%;
  margin-right: 25%;
  width: 50%;
  height: auto;
}

.card-header{
  background-color: #3e3f41;
  color: white;
}
.cardText{
  background-color: #f6a800;
  color: white;
}

/*SALDO TARJETA*/
#saldoPage{
  background-color: #dddee0;
  height: 100vh;
}
.saldoItems{
  padding-top: 30%;
}

#btnSaldo{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left : 25%;
  margin-right: 25%;
  width: 50%;
  height: auto;
}