/* BOTONES */
button {
  text-align: center;
  background-color: #f6a800;
  color: white;
  font-size: 10px;
}

/* NAVBAR */

input[type=checkbox]{
  display: none;
}

/* Show the menu when the checkbox is checked */
input[type=checkbox]:checked ~ .menu{
  transform: translateX(0);
}

input[type=checkbox]:checked ~ #fullscreen_toogle{
  display: block;
}

#fullscreen_toogle{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background-color: black;
  opacity: 0.3;
}
/* Style */
body{
  font-family: 'Open Sans';
  margin: 0;
}

header{
  padding: 0;
  margin-bottom: 0;
  margin-bottom: 70px;
  background-color: #3e3f41;
  color: white;
}

header span{
text-align: center;
}

main{
  padding: 0 10%;
}

/* Menu style */

.fa-bars{
color: white;
font-size: 35px;
}

.menu{
  overflow-y: auto;
  height: 100vh;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  transition: all 0.25s;
  background-color: white;
  width: 300px;
  color: white;
}

i a {
  color: #3e3f41;
}

li{
  list-style-type: none;
  padding: 15px;
  padding-left: 10%;
  color: #3e3f41;
}

li i {
color: #f6a800;
}

ul{
  padding-left: 0;
  margin-top: 95px;
}

.close{
  float: right;
  margin-right: 20px;
}

.pointer{
  cursor: pointer;
}

.open,.close{
  padding: 20px;
}

.close:hover{
color: black;
background-color: white;
}


/* LOGIN */
#logInPage{
  background-color: #3e3f41;
  width: 100%;
}

#logo {
  margin: 20%;
  width: 60%;
  height: auto;
  align-self: center;
}

#login{
  width: 90%;
  margin: 5%;
  padding:5%;
}

/*REGISTER*/
#registerPage{
  background-color: #3e3f41;
  width: 100%;
  height: 100vh;
}

#register{
  width: 90%;
  margin: 5%;
  padding:5%;
}

.formRegister{
  margin-top: 60%;
}

.registerlabel{
  color: #f6a800;
}

/*HOME*/
.btnHome{
  margin-left : 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  width: 90%;
  height: auto;
}

#homePage{
  background-color: #dddee0;
  height: 100vh;
  padding-top: 15%;
}

/*PERFIL*/
#porfilePage{
  background-color: #dddee0;
  height: 100vh;
}

.headerOrange{
  background-color: #f6a800;
  height: 40vh;
}

#porfileEmail{
  margin-top: 15%;
  margin-bottom: 5%;
}

#cardNumberInput{
  margin-bottom: 3%;
  width: 100%;
}

/* CALCULAR TARIFA*/
#calculatorPage{
  background-color: #dddee0;
  height: 100vh;
}
.calculatorItems{
  padding-top: 10%;
}
.selectCalculate{
  width: 100%;
}
#btnCalculate{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left : 25%;
  margin-right: 25%;
  width: 50%;
  height: auto;
}

.card-header{
  background-color: #3e3f41;
  color: white;
}
.cardText{
  background-color: #f6a800;
  color: white;
}

/*SALDO TARJETA*/
#saldoPage{
  background-color: #dddee0;
  height: 100vh;
}
.saldoItems{
  padding-top: 30%;
}

#btnSaldo{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left : 25%;
  margin-right: 25%;
  width: 50%;
  height: auto;
}

.title{
  text-align: center;
  color: white;
  padding: 10%;
 
}

.faq{
  width: 100%;
  background-color: white;
}

.page{
  height: 100vh;
  width: 100%;
}

a
a:link, 
a:visited, 
a:hover,
a:active
{
  text-decoration:none;
}

.color,
a:hover
{
  color: #f6a800;
}

.card-text {
  margin:2%;
}